*
{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    margin: 0;
}
header
{
    width: 100%;
    height: 10vh;
}
header .menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .menubar
{
    display: flex;
    align-items: center;
}
#menu-icon
{
    width: 20px;
    height: 20px;
    margin-left: 2.2vw;
}
#youtube-icon
{
    width: 90px;
    height: 50px;
    margin-left: 2vw;
}
.searchBox
{
    margin-right: 2vw;
    margin-left: 1vw;
}
.searchBox span input
{
    width: 550px;
    height: 32px;
}
.searchBox
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.searchBox .inp input
{
    height: 32px;
    padding: 0 12px;
    outline-color: #7ac2e0;
    font-size: 16px;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 1px 1px 2px 0px #FCFFFE;
}
.searchBox .inp button
{
    padding: 7px 25px;
    border: none;
    position: absolute;
    background-color: #f3f3f3;
    cursor: pointer;
}
.searchBox .inp button:hover
{
    background-color: rgb(233, 232, 232);
}
.searchBox .inp button img
{
    height: 12px;
}
#voice
{
    width: 24px;
    height: 24px;
    margin-left: 6vw;
}
.user
{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#app
{
    width: 18px;
    height: 18px;
    margin-left: 40px;
}
#notification
{
    width: 20px;
    height: 20px;
}
#user-image
{
    width: 30px;
    height: 30px;
}
.container
{
    width: 100vw;
    display: flex;
}
.navibar
{
    width: 6vw;
    height: 200vh;
    text-align: center;
    font-size: 11px;
}
.navibar .first-menu>div, .navibar .second-menu>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px 0;
    color: #868281;
    cursor: pointer;
}
.navibar .first-menu>div:hover, .navibar .second-menu>div:hover
{
    background-color: #ebe5e4;
}
.navibar .first-menu div>img, .navibar .second-menu div>img
{
    width: 20px;
    height: 20px;
}
.navibar .second-menu .menu-youtube-img
{
    display: flex;
    justify-content: space-around;
}
.navibar .second-menu
{
    display: none;
}
.content 
{
    width: 94vw;
    height: 100vh;
}
.interests
{
    width: 100%;
    height: 10vh;
    border-top: 1px solid #e8dddc;
    border-bottom: 1px solid #e8dddc;
}
.interests div
{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}
.interests span
{
    padding: 5px 13px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #f2eceb;
    border: 1px solid #d6cfce;
}
.interests div span:hover
{
    background-color: #c9c3c3;
    transition: 0.3s;
}
#all
{
    color: white;
    background-color: #111;
}
#all:hover
{
    background-color: rgb(156, 154, 149);
    transition: 0.7s;
}
.videos
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 30px;
}
.card
{
  width: 23%;
  height: 38vh;
  background-color: rgb(207, 207, 211);
  margin-bottom: 60px;
  text-align: center;
}
.card .play
{
    width: 100%;
    height: 24vh;
    background-color: rgb(196, 191, 173);
}
.bottom-info
{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}